
<main>
  <h1>
    <%= "TASKLIST" %>
  </h1>
  <button id="add_task">
    <h3><%= "Add Task" %></h3>
  </button>
  <button id="all_tasks">
    <h3><%= "All Tasks" %></h3>
  </button>
    <ol>
      <h2><%= "Your Tasks" %></h2>
      <% @tasks.each do |task| %>
      <li>
        <%= task[:name] %> <%= task[:description] %> <%= task[:completion_date] %>
      </li>
      <% end %>
    </ol>
    <footer>
      <small><%= "copywrite 2018" %></small>
    </footer>
</main>
