
<main>
  <h1>
    <%= "TASKLIST" %>
  </h1>
  <nav>
    <ul>
      <li>
        <%= link_to 'Add Task', new_task_path %>
      </li>
      <li>
        <%= link_to 'All Tasks', tasks_path %>
      </li>
    </ul>
  </nav>
    <ol>
      <h2><%= "Your Tasks" %></h2>
      <% @tasks.each do |task| %>
      <li>
        <%= task[:name] %> <%= task[:description] %> <%= task[:completion_date] %>
        <section id="task_options">
          <!-- If user selects completed, saves current timestamp in mark_complete and saves -->
          <%= link_to "Completed", mark_complete_path(task), method: :put, class: "complete" %>
          <!-- If user selects to mark incomplete, saves nil to mark_complete and saves -->
          <%= link_to "Incomplete", mark_incomplete_path(task), method: :put, class: "incomplete" %>
          <%= link_to "Edit", edit_task_path(task.id) %>
          <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure?"} %>
        </section>

        <!-- Add a button or link for marking a task complete -->
        <!-- If clicked, task is striked through -->
        <!-- And database is updated with tasks completion date -->
          <!-- Will need to check status of completion date. -->
          <!-- If completion date has not been entered, it's nil and will not have strikethrough -->
          <!-- If completion date is not nil, should be crossed out  -->
      </li>
      <% end %>
    </ol>
    <footer>
      <small><%= "copywrite 2018" %></small>
    </footer>
</main>
