<%= form_with model: @task, class: "task_form" do |f| %>
<p>Please provide the following information to save your task:</p>
<%= f.label :name %>
<%= f.text_field :name, placeholder: "Task Name Here", class: "form_field" %>

<%= f.label :description %>
<%= f.text_field :description, placeholder: "Task Description Here", class: "form_field" %>

<%= f.label :completion_date %>
<%= f.text_field :completion_date, placeholder: "Task Completion Date Here", class: "form_field"%>

<%= f.submit "Add Task", class: "task-button"%>

<% end %>
